![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

# AUTOCONCEPTO SEXUAL: UN ESTUDIO EXPLORATORIO

### TEMA

Este proyecto se centra en analizar el **autoconcepto sexual de hombres y mujeres desde la adolescencia hasta la vejez**. A través del instrumento de evaluación sexológico Multidimensional Sexual Self-Concept Questionnaire (MSSCQ), diseñado por el Dr. William E. Snell en 1995, se estudian, a través de 100 items, 20 aspectos de la sexualidad humana: ansiedad sexual, autoeficacia sexual, conciencia sexual, motivación para evitar prácticas sexuales de riesgo, control sexual por azar/suerte, preocupación sexual, asertividad sexual, optimismo sexual, autoinculpación por problemas sexuales, supervisión sexual, motivación sexual, gestión de problemas sexuales, autoestima sexual, satisfacción sexual, control sexual por parte de otros, autoesquemas sexuales, miedo al sexo, prevención de problemas sexuales, depresión sexual, control sexual interno.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

HIPÓTESIS PRINCIPAL:

El género y la edad tienen relación con la ansiedad sexual que pueda tener una persona.

OTRAS HIPÓTESIS:

- H1. Hay relación entre ansiedad sexual y depresión sexual.
- H2. Las mujeres sienten mayor motivación para evitar situaciones sexuales de riesgo. 
- H3. Las personas con mayor asertividad sexual viven de manera más satisfactoria su sexualidad.
- H4. Las personas adultas tienen mayor conciencia sexual que las personas adolescentes.
- H5. Las personas adolescentes manifiestan más miedo al sexo que las personas adultas.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

# Librerías

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import scipy.stats as stats

# Importar datos

In [9]:
df = pd.read_csv("./data.csv", delimiter = "\t") #Especificar delimitador de columnas

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [10]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q93,Q94,Q95,Q96,Q97,Q98,Q99,Q100,age,gender
0,3,2,5,5,1,2,2,1,1,2,...,4,1,1,5,5,3,5,4,23,1
1,5,1,5,1,1,2,1,3,1,1,...,1,1,1,2,1,1,5,3,25,2
2,1,4,5,5,1,4,5,5,5,4,...,5,5,1,5,4,4,1,4,20,1
3,5,4,5,5,5,5,2,4,5,5,...,4,1,2,5,0,4,5,5,23,2
4,4,5,4,5,4,2,3,2,4,5,...,1,1,3,1,1,1,4,3,50,2